# Ignore environment files
.env
.env.*

# Ignore Rust build artifacts
/target
**/*.rs.bk

# Ignore IDE/editor files
*.swp
*.swo
*.bak
*.tmp
*.log
.idea/
.vscode/
.DS_Store

# Ignore other common files
Cargo.lock 